#login_title {
    font-style: italic;
    text-align: center;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
    margin-top: 0px;
    color: white;
    border: 2px solid brown;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5); /* 50% opacity */
    -webkit-box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0);
    }

#about_option2 {
      position: relative;
      right: -10px;
      border: 2px solid black;
      display: inline-block;
      word-spacing: 340px;
      background-color: whitesmoke;
      padding-top: 20px;
      padding-bottom: 20px;
      border-radius: 5px;
      margin-top: 30px;
      opacity: 80%;
      -webkit-box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0); 
      box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0);
     }
     #about_option2:hover {
    transition: 0.5s;
      opacity: 100%;
      background-color: grey;
    }

body {
    background-image: url("images/blas1.png");
    background-repeat: repeat;

}

#about_option {
    margin-right: 100px;
    float: left;
    padding-top: 40px;
    background-color: whitesmoke;
    background-size: inherit;
    padding-bottom: 50px;
    padding-right: 5px;
    border: 2px solid;
    border-radius: 5px;
    opacity: 80%;
    -webkit-box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0);

}
#about_option:hover {
    transition: 0.5s;
      opacity: 100%;
      background-color: grey;
    }
p {
    text-shadow: 0.6px 0.6px #FFF;
    font-size: 22px;
}
img {
    height: 200px;
    float: right;
    border: 2px solid black;
    -webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0);
}
.about_content {

    padding: 20px;
    color: white;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);

}