#contact_title {
    font-style: italic;
    text-align: center;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
    margin-top: 0px;
    color: white;
    border: 2px solid brown;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5); /* 50% opacity */
    -webkit-box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0);
}
body {
     background-image: url("images/textured1.jpg");
     background-repeat: no-repeat;
    background-size: cover;
}
#contact_option {
    float: left;
        padding-top: 40px;
        background-color: whitesmoke;
        background-size: inherit;
        padding-bottom: 50px;
        padding-right: 5px;
        border: 2px solid;
        border-radius: 5px;
        opacity: 80%;
        -webkit-box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0); 
         box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0);
   
}
#contact_option:hover {
    transition: 0.5s;
      opacity: 100%;
      background-color: grey;
    }
#contact_option2 {
      position: relative;
      right: -10px;
      border: 2px solid black;
      display: inline-block;
      word-spacing: 340px;
      background-color: whitesmoke;
      padding-top: 20px;
      padding-bottom: 20px;
      border-radius: 5px;
      margin-top: 20px;
      opacity: 80%;
      -webkit-box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0); 
      box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0);
    }
#contact_option2:hover {
    transition: 0.5s;
      opacity: 100%;
      background-color: grey;
}
.contact_content {
    margin-right: 100px;
    font-size: 22px;
    color: white;
    text-shadow: 1px 1px black;
    text-align: center;
    padding: 2px 6px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5); /* 50% opacity */
}
.contact_content:hover {
     transition: 0.5s;
      opacity: 100%;
      background-color: grey;
}
.content {
    padding: 0px 50px;
}
