#login_title {
  font-style: italic;
    text-align: center;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
    margin-top: 0px;
    margin-bottom: 50px;
    color: white;
    border: 2px solid brown;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5); /* 50% opacity */
    -webkit-box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0);
}

body {
  background-image: url("images/blas4.png");
  background-repeat: repeat;
}
.center {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 110px;
      padding-bottom: 20px;
      opacity: 80%;
    }
    .login {
      border: 1px solid black;
      padding: 20px;
      text-align: center;
      background: white;
      -webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0); 
      box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0);
    }
    #toggle-btn {
      float: right;
      cursor: pointer;
      font-size: 10px;
      padding: 2px;
    }

    input {
      display: block;
      margin: 10px auto;
      padding: 8px;
      width: 200px;
    }
    input:hover {
      transition: 0.5s;
      background-color: grey;
    }
    button {
      padding: 5px;
      float: left;
      cursor: pointer;
    }
    button:hover {
      transition: 0.5s;
      opacity: 100%;
      background-color: grey;
    }

    .login_option {
        transition: 0.5s;
        float: left;
        padding-top: 40px;
        background-color: whitesmoke;
        background-size: inherit;
        padding-bottom: 50px;
        padding-right: 5px;
        border: 2px solid;
        border-radius: 5px;
        opacity: 90%;
        -webkit-box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0); 
        box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0);
    }
    .login_option:hover {
      opacity: 100%;
      background-color: grey;
    }
    .login_option2 {
      position: relative;
      right: -10px;
      transition: 0.5s;
      margin-top: 20px;
      border: 2px solid black;
      display: inline-block;
      word-spacing: 340px;
      background-color: whitesmoke;
      padding-top: 20px;
      padding-bottom: 20px;
      border-radius: 5px;
      opacity: 90%;
      -webkit-box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0); 
      box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0);
     }
     .login_option2:hover {
      opacity: 100%;
      background-color: grey;
    }
input:user-invalid {
  border: 2px solid red;
}
input:valid {
  border: 2px solid green;
}