body {
    background-image: url("images/aes.jpg");
    background-size: cover;
}
#web_title {
  font-style: italic;
    text-align: center;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
    margin-top: 0px;
    margin-bottom: 50px;
    color: white;
    border: 2px solid brown;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5); /* 50% opacity */
    -webkit-box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0);
}

#web_option2 {
    
    mix-blend-mode: initial;
    display: inline-block;
    word-spacing: 340px;
    background-color: whitesmoke;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid black;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 1px;
    margin-top: 30px;
    opacity: 90%;
    -webkit-box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0);
}
#web_option2:hover {
    transition: 0.5s;
    opacity: 100%;
    background-color: grey;
}
.web_input {
    position: relative;
    left: -40px;
    font-size: 20px;
}

#webname {
    padding: 10px;
    padding-right: 300px;
}
#web_content {
    padding: 10px;
    padding-right: 300px;
}
#title2 {
    padding-right: 50px;
}
#label1 {
    position: inherit;
    left: -30px;
}
#submit2 {
    position: inherit;
    left: -130px;
    padding: 10px;
}
#submit2:hover {
      transition: 0.5s;
      opacity: 100%;
      background-color: gray;
}
input:hover {
    transition: 0.5s;
    opacity: 100%;
    background-color: lightgray;
}
input:user-invalid {
  border: 2px solid red;
}
input:valid {
  border: 2px solid green;
}