#register_title {
  font-style: italic;
    text-align: center;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
    margin-top: 0px;
    margin-bottom: 50px;
    color: white;
    border: 2px solid brown;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5); /* 50% opacity */
    -webkit-box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0);
}
#register_option {
        margin-top: 15px;
        float: left;
        padding-top: 40px;
        background-color: whitesmoke;
        background-size: inherit;
        padding-bottom: 100px;
        padding-right: 5px;
        border: 2px solid;
        border-radius: 5px;
        opacity: 90%;
        -webkit-box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0); 
        box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0);
}
#register_option:hover {
      transition: 0.5s;
      opacity: 100%;
      background-color: grey;
}

  #register_option2 {
      position: relative;
      right: -10px;
      margin-top: 40px;
      border: 2px solid black;
      display: inline-block;
      word-spacing: 340px;
      background-color: whitesmoke;
      padding-top: 20px;
      padding-bottom: 20px;
      border-radius: 5px;
      opacity: 90%;
      -webkit-box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0); 
      box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0);
}
#register_option2:hover {
      transition: 0.5s;
      opacity: 100%;
      background-color: grey;
}

#btn {
  padding: 10px;
  position: relative;
  left: -200px;
  cursor: pointer;
}
#btn:hover {
      transition: 0.5s;
      opacity: 100%;
      background-color: grey;
}
input {
  padding-right: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
}
input:hover {
      transition: 0.5s;
      opacity: 100%;
      background-color: grey;
}

.fill {
  padding-right: 105px;
  align-items: center;
}
#table {
  margin-top: 30px;
  margin-right: 50px;
}
table tr {
  border: 1px solid black;
  padding-right: 80px;
}
table td {
  border: 1px solid black;
  padding-right: 80px;
  font-size: 20px;
}
body {
  background-image: url("images/aes4.jpg");
  background-size: cover;
}
input:user-invalid {
  border: 2px solid red;
}
input:valid {
  border: 2px solid green;
}
#undo {
  padding: 10px;
  position: relative;
  left: -258px;
  margin-top: 10px;
  bottom: -10px;
}
#undo:hover {
  cursor: pointer;
  transition: 0.5s;
  opacity: 100%;
  background-color: grey;
}